<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">

    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Mantenedor de Usuarios" />
            </h:panelGrid>
        </div>
        
        <div id="dialogConfirmEliminaUser" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>¿Confirma que desea eliminar el usuario?</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{userBean.DeleteUser}" style="float:left;" ajax="true" update="gridUsers" />
  					<p:commandButton value="No" actionListener="#{userBean.CancelDeleteUser}" style="float:right;" ajax="true" />
 				</div>
			</p:panel>
		</div>
	        
		<br />
		<p:dataTable id="gridUsers" var="user" value="#{userBean.users}" emptyMessage="No se encontraron usuarios." 
		style="width:100%;" paginator="true" rows="7">
	        <p:column headerText="Id" visible="false">
	            <h:outputText id="userId" value="#{user.id}" />
	        </p:column>
	        
	        <p:column headerText="Nombre">
	            <h:outputText value="#{user.firstname}" />
	        </p:column>
	        
	        <p:column headerText="Apellido">
	            <h:outputText value="#{user.lastname}" />
	        </p:column>
	        
	        <p:column headerText="Email">
	            <h:outputText value="#{user.email}" />
	        </p:column>
	        
	        <p:column headerText="Editar">
	         <p:commandButton actionListener="#{userBean.UpdateUser(user.id)}" value="Editar" />
	        </p:column>
        </p:dataTable>
        <br />
        <div style="width:100%;">
			<p:commandButton id="btnNuevoUsuario" widgetVar="btnNuevoUsuario" actionListener="#{userBean.NewUser}" value="Nuevo Usuario"
			validateClient="false" update="gridUsers" style="float:right;" />
		</div>
		
		<br /><br />
		
    </ui:define>
</ui:composition>