<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml">

    <ui:define name="content">
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="#{userBean.textoTituloEdicion}" />
            </h:panelGrid>
        </div>
        <div class="modal-content">
	        <div styleClass="form-horizontal">
				<div class="modal-body">
					<section>
						<div>
							<div class="form-group">
								<label class="control-label">Nombre</label>
								<p:inputText id="userFirstname" styleClass="form-control input-lg"
									required="true" label="firstname" size="40"
									placeholder="Su nombre"
									requiredMessage="Por favor ingrese nombre."
									value="#{userBean.user.firstname}">
								</p:inputText>
								<p:message for="userFirstname" />
							</div>
							<div class="form-group">
								<label class="control-label">Apellido</label>
								<p:inputText id="userLastname" styleClass="form-control input-lg"
									required="true" label="lastname" size="40"
									placeholder="Su apellido"
									requiredMessage="Por favor ingrese apellido."
									value="#{userBean.user.lastname}">
								</p:inputText>
								<p:message for="userLastname" />
							</div>
							<div class="form-group">
								<label class="control-label">Email</label>
								<p:inputText id="userEmail" styleClass="form-control input-lg"
									required="true" label="email" size="40"
									placeholder="su@correo.com"
									requiredMessage="Por favor ingrese e-mail."
									validatorMessage="Formato de e-mail invalido."
									value="#{userBean.user.email}">
									<f:validateRegex
										pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
								</p:inputText>
								<p:message for="userEmail" />
							</div>
							<div class="form-group">
								<label class="control-label">Contraseña</label>
								<p:inputText type="password" id="userPassword"
									styleClass="form-control input-lg" required="#{userBean.currentPersistenceMode eq 'new'}"
									placeholder="Contraseña"
									requiredMessage="Por favor ingrese su contraseña."
									value="#{userBean.password}">
								</p:inputText>
								<p:message for="userPassword" />
							</div>
							<div class="form-group">
								<label class="control-label">¿Usuario con permisos de Administrador?</label>
						        <p:selectOneRadio id="radioAdmin" value="#{userBean.isAdmin}">
						            <f:selectItem itemLabel="Si" itemValue="1" />
						            <f:selectItem itemLabel="No" itemValue="0" />
						        </p:selectOneRadio>
								<p:message for="radioAdmin" />
							</div>
							<div class="form-group">
								<label class="control-label">¿Usuario Habilitado?</label>
						        <p:selectOneRadio id="radioEnabled" value="#{userBean.user.enabled}">
						            <f:selectItem itemLabel="Si" itemValue="true" />
						            <f:selectItem itemLabel="No" itemValue="false" />
						        </p:selectOneRadio>
								<p:message for="radioEnabled" />
							</div>
							<div class="line line-dashed"></div>
						</div>
					</section>
				</div>
		        <br />
		        <div class="col-sm-7">
		        <h:panelGrid columns="2" style="float:right;">
		        	<p:commandButton id="btnCancelar" widgetVar="btnCancelar" actionListener="#{userBean.CancelEditUser}" value="Cancelar"
					validateClient="true" immediate="true" />
					<p:commandButton id="btnGuardarUsuario" widgetVar="btnGuardarUsuario" actionListener="#{userBean.SaveUser}" value="Guardar Usuario"
					validateClient="true" update="@all" ajax="true" />
				</h:panelGrid>
				</div>
				<br /><br />
			</div>
		</div>
    </ui:define>
</ui:composition>