@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");

.ui-shadow{
	z-index: 9999 !important;
	/*top: 0 !important;*/
}
.ui-lightbox-content{
	height: 90% !important;
}
.ui-lightbox-content iframe{
	height: 90% !important;
}

#ui-datepicker-div{
	z-index: 9999 !important; 
}

.fancybox-wrap{
	top: 15px !important;
	padding: 0 !important;
}