<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:display="http://displaytag.sf.net" version="2.0"
	xmlns:sec="http://www.springframework.org/security/tags">
	<jsp:directive.page contentType="text/html; charset=UTF-8"
		pageEncoding="UTF-8" session="true" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />
	<html
		class="bg-dark js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ios"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Cálculos de Comisiones Para Seguros</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="abcdin" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="#{request.contextPath}/resources/css/app.v2.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/js/datepicker/datepicker.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/css/font.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="/ccps/javax.faces.resource/jquery/jquery-plugins.js.jsf?ln=primefaces&amp;v=4.0"></script>
</h:head>
<body>
	<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
		<div class="container aside-xxl">
			<div style="background-color: Red;">
				<img src="#{request.contextPath}/resources/images/logo.png" />
			</div>
			<div class="navbar-brand block" style="color: #1C1C1C; background-color: #D8D8D8;">Cálculos de Comisiones Para Seguros</div>
			<h:panelGroup id="contentTemplate" layout="block">
				<ui:insert name="contentTemplate"></ui:insert>
			</h:panelGroup>
		</div>
	</section>
	<footer id="footer">
		<div class="text-center padder">
			<p>
				<small style="color: #D8D8D8;">Derechos reservados ABCDIN<br />© 2016
				</small>
			</p>
		</div>
	</footer>
	<script src="#{request.contextPath}/resources/js/app.v2.js"></script>
	<script src="#{request.contextPath}/resources/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
	<script src="#{request.contextPath}/resources/js/charts/sparkline/jquery.sparkline.min.js"></script>
	<script src="#{request.contextPath}/resources/js/parsley/parsley.min.js"></script>
	<script src="#{request.contextPath}/resources/js/parsley/parsley.extend.js"></script>
	<script src="#{request.contextPath}/resources/js/datepicker/bootstrap-datepicker.js"></script>

</body>
	</html>
</jsp:root>