<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ios"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">>
	<h:head>
		<title>#{messages.title}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="abcdin" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		
		<style>
		/* The Modal (background) */
			.modalback {
			    display: none; /* Hidden by default */
			    position: fixed; /* Stay in place */
			    z-index: 1; /* Sit on top */
			    left: 0;
			    top: 0;
			    width: 100%; /* Full width */
			    height: 100%; /* Full height */
			    overflow: auto; /* Enable scroll if needed */
			    background-color: rgb(0,0,0); /* Fallback color */
			    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			}
		</style>
		
		<script type="text/javascript">
			function startLoading() {
			    PF('statusDialog').show();
			}
			 
			function stopLoading() {
			    PF('statusDialog').hide();
			}
		</script>
		
		<link href="#{request.contextPath}/resources/css/app.v2.css" rel="stylesheet" type="text/css" />
		<h:outputStylesheet name="css/font.css" />
		<h:outputScript name="js/standar.js" />
		<h:outputStylesheet name="js/fancybox/jquery.fancybox.css" />
	    <h:outputStylesheet name="css/jquery.Jcrop.css" />
	
	    <p:layout fullPage="true" resizeTitle="resize" style="background-color:#FF0000;">
	        <p:layoutUnit position="north" id="north" style="background-color:#FF0000 !important;" >
				<section id="content" style="background-color:#FF0000;">
					<header style="background-color:#FF0000; color:#FFFFFF; height:90px;">
						<div style="background-color:#FF0000;">
							<div style="float:left;">
								<img src="#{request.contextPath}/resources/images/logo.png" class="m-r-sm" style="height:90px;" />
							</div>
							<div style="float:left; background-color:#FF0000;">
								<h2>#{messages.title} </h2>
							</div>
							<div style="width:150px; float:right; margin-top: 10px; background-color:#FF0000;">
								<h:form style="display:none">#{userBean.userSession}</h:form>
								<p:graphicImage cache="false" value="#{userBean.profileImage}" height="30" width="30" styleClass="img-circle">
	       						</p:graphicImage>
	       						<sec:authorize access="isAuthenticated()">
									#{userBean.userSession.firstname} #{userBean.userSession.lastname}
								</sec:authorize>
								<h:form style="padding: 10px 0px 10px 30px;">
									<h:commandLink id="logout" action="#{loginBean.logout}" value="Cerrar sesión" style="font-size: 14px; color:#FFFFFF">
										<img src="#{request.contextPath}/resources/images/exit.png" class="m-r-sm" style="height:20px; weight:20px;"/>
									</h:commandLink>
								</h:form>
							</div>
						</div>
					</header>		
				</section>
	        </p:layoutUnit>
	    </p:layout>
	</h:head>
	
	<h:body>
	  		<p:layoutUnit styleClass="layoutUnitCenter" position="center">
	            <h:form id="mainForm">
					<p:menubar>
						<p:submenu label="Seguros Individuales" icon="ui-icon-document">
							<security:authorize ifAllGranted="ROLE_ADMIN">
							<p:menuitem value="Cargar Archivos" actionListener="#{basicBean.Navigate('cargaInd')}" />
							</security:authorize>
							<p:menuitem value="Reporte de Cierre" actionListener="#{basicBean.Navigate('cierreInd')}" />
						</p:submenu>
						<p:submenu label="Garantías Plus" icon="ui-icon-document">
							<security:authorize ifAllGranted="ROLE_ADMIN">
							<p:menuitem value="Cargar Archivos" actionListener="#{basicBean.Navigate('cargaCP')}" />
							<p:menuitem value="Validar Garantías" actionListener="#{basicBean.Navigate('validaCP')}" />
							</security:authorize>
							<p:menuitem value="Reporte de Cierre" actionListener="#{basicBean.Navigate('cierreCP')}" />
						</p:submenu>
						<p:submenu label="Seguros Masivos" icon="ui-icon-document">
							<security:authorize ifAllGranted="ROLE_ADMIN">
							<p:menuitem value="Cargar Archivos" actionListener="#{basicBean.Navigate('cargaMas')}" />
							</security:authorize>
							<p:menuitem value="Reporte de Cierre" actionListener="#{basicBean.Navigate('cierreMas')}" />
						</p:submenu>
						<security:authorize ifAllGranted="ROLE_ADMIN">
						<p:submenu label="Administración" icon="ui-icon-gear">
							<p:menuitem value="Comisiones" actionListener="#{basicBean.Navigate('comisiones')}" />
							<p:menuitem value="Usuarios" actionListener="#{basicBean.Navigate('usuarios')}" />
						</p:submenu>
						</security:authorize>
					</p:menubar>
					<br/>
	                <ui:insert name="content" />
	            </h:form>
	        </p:layoutUnit>
	        <p:layoutUnit position="south" resizable="true" id="south">
		        <h:panelGroup id="footer" layout="block" class="bg-dark">#{messages.footerText}<br />
				</h:panelGroup>
	        </p:layoutUnit>
	        
			<p:dialog modal="true" widgetVar="statusDialog" header="Espere un momento..." draggable="false" closable="false" resizable="false">
	    		<img style="margin-left: 60px;" src="#{request.contextPath}/resources/images/fancybox_loading@2x.gif" class="m-r-sm" />
			</p:dialog>
    </h:body>
    
</html>