<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html
	class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ios"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns="http://www.w3.org/1999/xhtml">

<h:head>
	<title>Cálculos de Comisiones Para Seguros</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="abcdin" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link href="#{request.contextPath}/resources/css/app.v2.css"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet name="js/datepicker/datepicker.css" />
	<h:outputStylesheet name="css/font.css" />
	<h:outputStylesheet name="js/fancybox/jquery.fancybox.css" />
	<h:outputStylesheet name="css/jquery.Jcrop.css" />

	<h:outputScript name="js/app.v2.js" />
	<h:outputScript name="js/charts/easypiechart/jquery.easy-pie-chart.js" />
	<h:outputScript name="js/parsley/parsley.min.js" />
	<h:outputScript name="js/parsley/parsley.extend.js" />
	<h:outputScript name="js/datepicker/bootstrap-datepicker.js" />
	<h:outputScript name="js/fancybox/jquery.fancybox.js" />
	<h:outputScript name="js/fancybox/jquery.fancybox.pack.js" />
	<h:outputScript name="js/jquery.Jcrop.min.js" />
	<h:outputScript name="js/standar.js" />
	<script type="text/javascript">
		$(document).ready(function() {
			$(".various").fancybox({
				fitToView : true,
				autoSize : true,
				openEffect : 'none',
				closeEffect : 'none',
				padding : '0',
				helpers : {
					overlay : {
						css : {
							'background' : 'rgba(50,50,50,0.7)'
						}
					}
				},
				afterClose : function() {
					$("#ui-datepicker-div").remove();
					$(".ui-datepicker").remove();
				}
			});

		});
	</script>

</h:head>
<h:body>
	<section id="content" class="vbox" style="display: block !important;">
	<header class="bg-dark dk header navbar navbar-fixed-top-xs">
	<div class="navbar-header aside-md">
		<a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen"
			data-target="#nav"> <i class="fa fa-bars"></i>
		</a> <a href="#" class="navbar-brand" data-toggle="fullscreen"> <img
			src="#{request.contextPath}/resources/images/logo.png" class="m-r-sm" />CCPS
		</a> <a class="btn btn-link visible-xs" data-toggle="dropdown"
			data-target=".nav-user"> <i class="fa fa-cog"></i>
		</a>
	</div>
	<h:form style="display:none">#{userBean.userSession}</h:form>
	<ul class="nav navbar-nav navbar-right hidden-xs nav-user">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
				<span class="thumb-sm avatar pull-left">
					<p:graphicImage cache="false" value="#{userBean.profileImage}" height="30" width="30" styleClass="img-circle">
					</p:graphicImage> 
							<sec:authorize access="isAuthenticated()">
								#{userBean.userSession.firstname} #{userBean.userSession.lastname}
							</sec:authorize>
						    <b class="caret"></b>
				</span> 
				<b class="caret"></b>
		    </a>
			<ul class="dropdown-menu animated fadeInRight">
				<li class="divider"></li>
				<li>
					<h:form>
						<h:commandLink id="logout" action="#{loginBean.logout}" value="Cerrar sesión"></h:commandLink>
					</h:form>
				</li>
			</ul>
		</li>
	</ul>
	</header> 
	
	<section class="hbox stretch"> 
		<aside class="bg-light lter b-r aside-md hidden-print" id="nav"> 
			<section class="vbox"> 
				<section class="w-f scrollable">
					<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
						<nav class="nav-primary hidden-xs">
							<ul class="nav">
								<li>
									<a href="#"> 
										<i class="fa  fa-th icon"> <b class="bg-success"></b>
										</i> <span>Pagina 1</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</section> 
			</section> 
		</aside> 
	</section> 
	
	</section>


</h:body>
</html>
