<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	>
<h:head>
<style>
.ui-datepicker {
	z-index: 1100 !important;
}
#ui-datepicker-div {
	z-index: 1100 !important;
}
.modal-dialog {
	padding: 0 !important;
}
.ui-lightbox {
	top: 0 !important;
}
</style>
<link href="#{request.contextPath}/resources/css/app.v2.css" rel="stylesheet" type="text/css" />
<link href="#{request.contextPath}/resources/css/font.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
<h:panelGroup id="content" layout="block">
	<ui:insert name="content"></ui:insert>
</h:panelGroup>
</h:body>
</html>