<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Cálculos de Comisiones Para Seguros</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
	<h:panelGroup id="page" layout="block">
		<h:panelGroup id="header" layout="block">
			<h1><a href="home.jsf">Link</a></h1>
		</h:panelGroup>
		<p:menu>
		<p:menuitem value="Gmail" url="http://www.google.com" />
		<p:menuitem value="Gmail" url="http://www.google.com" />
		<p:menuitem value="Gmail" url="http://www.google.com" />
		<p:menuitem value="Gmail" url="http://www.google.com" />
	</p:menu>
		<h:panelGroup id="container" layout="block">
			<h:panelGroup id="sidebar" layout="block">
				<h1>Sidebar</h1><p:spinner /> Content for the sidebar
			</h:panelGroup>
			<h:panelGroup id="content" layout="block">
				<ui:insert name="content">Main Content</ui:insert>
			</h:panelGroup>
			
		</h:panelGroup>
		<h:panelGroup id="footer" layout="block">#{messages.footerText}<br />By:.Jean Duchens<a href="#"></a>
		</h:panelGroup>
	</h:panelGroup>

</h:body>
</html>