<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:security="http://www.springframework.org/security/tags">

	<ui:composition template="/WEB-INF/templates/default.xhtml">
		<ui:define name="contentTemplate">
		</ui:define>
	</ui:composition>
</html>