<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">
    
    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
    	<div class="bg-dark dk header navbar">
    		<h:panelGrid id="titleMassive" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Carga Mensual Seguros Masivos" />
                <p:outputLabel style="font-size:18pt; float:right;" value="Periodo: #{massiveBean.strMonth} / #{massiveBean.year}" />
            </h:panelGrid>
	    </div>
	    <div id="dialogConfirmRecarga" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Ya existe un archivo cargado previamente, ¿Desea sobreescribir los datos?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" onclick="statusDialog.show();" actionListener="#{massiveBean.AcceptReload}" style="float:left;" ajax="true" update="gridMassiveFiles btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmRecarga').hide();" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
		<div id="dialogConfirmCierre" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Al cerrar el mes, no se podrán volver a cargar datos para el mes cerrado. ¿Desea continuar?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{massiveBean.CloseMonth}" style="float:left;" ajax="true" update="titleMassive gridMassiveFiles btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmCierre').hide();" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
		<div id="dialogConfirmRollback" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Esta a punto de deshacer el último cierre. ¿Desea continuar?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{massiveBean.RollBackClosePeriod}" style="float:left;" ajax="true" update="titleMassive gridMassiveFiles btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmRollback').hide();" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
		<div id="dialogConfirmDeleteCarga" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Se eliminará la carga seleccionada. ¿Desea continuar?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{massiveBean.DeleteCarga(1, prueba)}" style="float:left;" ajax="true" update="gridMassiveFiles btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmDeleteCarga').hide();" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
        <p:panel header="Información de Seguros Masivos">
        	<h:panelGrid columns="4" cellpadding="20">
				<p:outputLabel value="Tipo Seguro: " />
				<p:selectOneMenu id="ddlTipoSeguro" value="#{massiveBean.tipoSeguro}">
					<p:ajax event="change" listener="#{massiveBean.ChangeTipoSeguro}" update="ddlBaseType" />
					<f:selectItem itemLabel="Seleccione" itemValue="" />
					<f:selectItem itemLabel="Cesantía" itemValue="MasivoCesantia" />
					<f:selectItem itemLabel="Desgravamen" itemValue="MasivoDesgravamen" />
				</p:selectOneMenu>
				<p:outputLabel value="Base: " />
				<p:selectOneMenu id="ddlBaseType" value="#{massiveBean.baseTypeId}" disabled="#{massiveBean.tipoSeguro == ''}">
					<f:selectItem itemLabel="Seleccione" itemValue="0" />
					<f:selectItems value="#{massiveBean.colSelectedBaseType}" var="base" itemLabel="#{base.nombreInterno} (#{base.nombrePoliza})" itemValue="#{base.id}" />
				</p:selectOneMenu>
			</h:panelGrid>
			<div>
				<h:form enctype="multipart/form-data">
					<table style="width:100%">
						<tr>
							<td style="float:right;">
								<p:commandButton value="Iniciar Carga" onclick="statusDialog.show();" actionListener="#{massiveBean.Upload}" ajax="true" update=":mainForm:gridMassiveFiles :mainForm:btnClosePeriod :mainForm:btnRollbackPeriod" />
							</td>
							<td style="width:300px; float:right;">
								<p:fileUpload value="#{massiveBean.file}" fileUploadListener="#{massiveBean.HandleFileUpload}" mode="advanced" 
								label="Seleccione" allowTypes="/(\.|\/)(txt|csv|TXT|CSV|Txt|Csv)$/" sizeLimit="52428800" auto="true" />
							</td>
						</tr>
					</table>
				</h:form>
			</div>
		</p:panel>
		<br />
		<br />
		<br />
		<p:panel header="Cierre">
			<br />
			<p:dataTable id="gridMassiveFiles" var="binnacle" value="#{massiveBean.binnacles}" paginator="false" emptyMessage="No se encontraron archivos cargados para el periodo actual." style="width:65%;"> 

                <p:column headerText="Nombre Interno Base">
                    <h:outputText value="#{binnacle.details}" />
                </p:column>
                
                <p:column headerText="Tipo Seguro">
                    <h:outputText value="#{binnacle.fileType.type}" />
                </p:column>
                
                <p:column sortBy="date" headerText="Fecha">
		            <h:outputText value="#{binnacle.binDate}" />
		        </p:column>
		        
		        <p:column sortBy="user" headerText="Usuario">
		            <h:outputText value="#{binnacle.user.firstname} " />
		        </p:column>
 
                <p:column headerText="Nombre Archivo">
                    <h:outputText value="#{binnacle.details2}" />
                </p:column>
            </p:dataTable>
		    <br /><br />
			<h:panelGrid columns="2">
				<p:commandButton id="btnClosePeriod" widgetVar="btnClosePeriod" value="Cerrar Periodo" onclick="$('#dialogConfirmCierre').show();" disabled="#{not massiveBean.canClosePeriod}" />
				<p:commandButton id="btnRollbackPeriod" widgetVar="btnRollbackPeriod" value="Rollback Periodo" onclick="$('#dialogConfirmRollback').show();" disabled="#{not massiveBean.canRollbackPeriod}" update="btnClosePeriod btnRollbackPeriod" />
			</h:panelGrid>
		</p:panel>
    </ui:define>
</ui:composition>