<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">

    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
   		<div class="bg-dark dk header navbar">
   			<h:panelGrid id="titleMassive" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Carga Mensual Seguros Individuales" />
                <p:outputLabel id="pgPeriodo" style="font-size:18pt; float:right;" value="Periodo: #{salesBean.strMonth} / #{salesBean.year}" />
            </h:panelGrid>
   		</div>
   		<div id="dialogConfirmRecarga" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Ya existe un archivo cargado previamente, ¿Desea sobreescribir los datos?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" onclick="statusDialog.show();" actionListener="#{salesBean.AcceptReload}" style="float:left;" ajax="true" update="dataTable btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmRecarga').hide();" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
		<div id="dialogConfirmCierre" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Al cerrar el mes, no se podrán volver a cargar datos para el mes cerrado. ¿Desea continuar?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{salesBean.CloseMonth}" style="float:left;" ajax="true" update="titleMassive dataTable btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmCierre').hide();" style="float:right;" ajax="true" />
 				</div>
			</p:panel>
		</div>
		<div id="dialogConfirmRollback" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>Esta a punto de deshacer el último cierre. ¿Desea continuar?.</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{salesBean.RollBackClosePeriod}" style="float:left;" ajax="true" update="titleMassive dataTable btnClosePeriod btnRollbackPeriod" />
  					<p:commandButton value="No" onclick="$('#dialogConfirmRollback').hide();" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
        <p:panel>
		    <f:facet name="header">
		        <h:outputText value="Información de Recaudación y Ventas" />
		    </f:facet>
        	<h:panelGrid columns="6" cellpadding="20">
        		<p:outputLabel value="Tipo de Archivo:"/>
				<p:selectOneMenu id="indFileType" value="#{salesBean.individualfileType}" style="width:220px">
					<p:ajax event="change" listener="#{salesBean.ChangeIndividualFileType}" update="company enterprise" />
	                <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true" />
	                <f:selectItem itemLabel="Flujo (Ventas)" itemValue="ventas" />
	                <f:selectItem itemLabel="Stock (Remesas)" itemValue="recaudacion" />
            	</p:selectOneMenu>
	        	<p:outputLabel value="Compañia:"/>
	        	<p:selectOneMenu id="company" valueChangeListener="#{salesBean.changeCompanyEnterprise}" value="#{salesBean.companyId}" style="width:220px" disabled="#{salesBean.isFileRecaudacion}" >
        	        <f:ajax event="change" />
	                <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true" />
	                <f:selectItems value="#{salesBean.companies}" var="compaItem" itemValue="#{compaItem.id}" itemLabel="#{compaItem.name}"/>
            	</p:selectOneMenu>
				<p:outputLabel value="Empresa:"/>
				<p:selectOneMenu id="enterprise" valueChangeListener="#{salesBean.changeCompanyEnterprise}" value="#{salesBean.enterpriseId}" style="width:220px" disabled="#{salesBean.isFileRecaudacion}">
            	    <f:ajax event="change" />
	                <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true" />
	                <f:selectItems value="#{salesBean.enterprises}" var="enterItem" itemValue="#{enterItem.id}" itemLabel="#{enterItem.name}"/>
            	</p:selectOneMenu>
			</h:panelGrid>
			<div>
				<h:form enctype="multipart/form-data">
					<table style="width:100%">
						<tr>
							<td style="float:right;">
								<p:commandButton value="Iniciar Carga" onclick="statusDialog.show();" actionListener="#{salesBean.UploadExcel}" ajax="true" update=":mainForm:dataTable :mainForm:btnClosePeriod :mainForm:btnRollbackPeriod" />
							</td>
							<td style="width:300px; float:right;">
					    		<p:fileUpload  fileUploadListener="#{salesBean.HandleUploadExcel}" auto="true" mode="advanced" label="Cargar Archivo" allowTypes="/(\.|\/)(XLS|xls|xlsx|XLSX|Xls|xLS|Xlsx|xLSX|XlsX|xLSx)$/"/>
					    	</td>
						</tr>
					</table>
				</h:form>
			</div>
		</p:panel>
		<p:separator />
		<p:panel header="Archivos Cargados Mes en Curso">
			<br />
		    <p:dataTable id="dataTable" var="binnacle" value="#{salesBean.binnacles}" paginator="false" emptyMessage="No se encontraron archivos" style="width:45%;">
		
		        <p:column sortBy="type" headerText="Tipo de Archivo" >
					<h:outputText value="#{binnacle.fileType.type}" />
		        </p:column>
		        <p:column sortBy="date" headerText="Fecha">
		            <h:outputText value="#{binnacle.binDate}" />
		        </p:column>
		        <p:column sortBy="user" headerText="Usuario">
		            <h:outputText value="#{binnacle.user.firstname} " />
		        </p:column>
		        <p:column headerText="Nombre Archivo">
                    <h:outputText value="#{binnacle.details2}" />
                </p:column>

		    </p:dataTable>
		    <br />
		</p:panel>
		
		<p:panel header="Cierre">
			<h:panelGrid columns="2">
				<p:commandButton id="btnClosePeriod" widgetVar="btnClosePeriod" value="Cerrar Periodo" onclick="$('#dialogConfirmCierre').show();" disabled="#{not salesBean.canClosePeriod}" />
				<p:commandButton id="btnRollbackPeriod" widgetVar="btnRollbackPeriod" value="Rollback Periodo" onclick="$('#dialogConfirmRollback').show();" disabled="#{not salesBean.canRollbackPeriod}" update="btnClosePeriod btnRollbackPeriod" />
			</h:panelGrid>
		</p:panel>
    </ui:define>
</ui:composition>