<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">

    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Mantenedor de Comisiones" />
            </h:panelGrid>
        </div>
        
        <div id="dialogConfirmEliminaCom" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>¿Confirma que desea eliminar la comisión?</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{commissionBean.DeleteCommission}" style="float:left;" ajax="true" update="gridCommissions" />
  					<p:commandButton value="No" actionListener="#{commissionBean.CancelDeleteCommission}" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
		
		<div id="dialogConfirmEliminaComPlan" class="modalback">
			<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
				<p>¿Confirma que desea eliminar la comisión?</p>
				<div style="width:120px; height: 30px;">
  					<p:commandButton value="Sí" actionListener="#{commissionBean.DeleteCommissionPlan}" style="float:left;" ajax="true" update="gridCommissionPlans" />
  					<p:commandButton value="No" actionListener="#{commissionBean.CancelDeleteCommission}" style="float:right;" ajax="true" />
 					</div>
			</p:panel>
		</div>
	        
        <p:panel header="Comisiones de Ventas / Recaudación">
			<br />
			<div class="row">
				<div class="col-sm-2">Filtrar por compañia:</div>
				<div class="col-sm-2">
					<p:selectOneMenu id="ddlCompany" value="#{commissionBean.companyId}" style="width:100%" validatorMessage="Seleccione una compañía.">
						<p:ajax event="change" listener="#{commissionBean.ChangeCompany}" update="gridCommissions" />
						<f:selectItem itemLabel="Seleccione" itemValue="0" />
						<f:selectItems value="#{commissionBean.colCompanies}" var="company" itemLabel="#{company.name}" itemValue="#{company.id}" />
					</p:selectOneMenu>
				</div>
				<div class="col-sm-2">
					<p:commandButton id="btnCompany" value="Buscar" actionListener="#{commissionBean.FilterByCompany}" update="gridCommissions" />
				</div>
			</div>
			<p:dataTable id="gridCommissions" var="commision" value="#{commissionBean.colCommissions}" emptyMessage="No se encontraron registros de comisiones." 
			style="width:100%;" paginator="true" rows="7">
               <p:column headerText="Id" visible="false">
                   <h:outputText id="comId" value="#{commision.id}" />
               </p:column>
               
               <p:column headerText="Compañía">
                   <h:outputText value="#{commision.company.name}" />
               </p:column>
               
               <p:column headerText="Código de Producto">
                   <h:outputText value="#{commision.codProducto}" />
               </p:column>
               
               <p:column headerText="Rubro">
                   <h:outputText value="#{commision.rubro}" />
               </p:column>
               
               <p:column headerText="Com. Fija Anticipada">
                   <h:outputText value="#{commision.comFijaAnticipada}" />
               </p:column>
               
               <p:column headerText="Com. Int. (Corredora)">
                   <h:outputText value="#{commision.comCorredora}" />
               </p:column>
               
               <p:column headerText="Com. Rec. Cobranza">
                   <h:outputText value="#{commision.comRecCobranza}" />
               </p:column>
               
               <p:column headerText="Prima Neta">
                   <h:outputText value="#{commision.primaNeta}" />
               </p:column>
               
               <p:column headerText="Prima Bruta">
                   <h:outputText value="#{commision.primaBruta}" />
               </p:column>
               
               <p:column headerText="Editar">
	               <p:commandButton actionListener="#{commissionBean.UpdateCommission(commision.id)}" value="Editar" />
               </p:column>
               
	        </p:dataTable>
	        <br />
	        <h:panelGrid columns="1" style="float:right;">
				<p:commandButton id="btnNuevaComisionVenta" widgetVar="btnNuevaComisionVenta" actionListener="#{commissionBean.NewCommission}" value="Nueva Comisión"
				validateClient="false" update="gridCommissions" />
			</h:panelGrid>
			<br /><br />
		</p:panel>
		
		<br /><br />
		
		<p:panel header="Comisiones de Garantías Plus">
			<br />
			<p:dataTable id="gridCommissionPlans" var="commision" value="#{commissionBean.colCommissionPlans}" emptyMessage="No se encontraron registros de comisiones." 
			style="width:100%;" paginator="true" rows="7">
               <p:column headerText="Id" visible="false">
                   <h:outputText id="warrantyId" value="#{commision.id}" />
               </p:column>
               
               <p:column headerText="Tipo Plan">
                   <h:outputText value="#{commision.tipoPlan}" />
               </p:column>
               
               <p:column headerText="Prima Final Seguro Robo">
                   <h:outputText value="#{commision.primaFinalSeguroRobo}" />
               </p:column>
               
               <p:column headerText="Com. Inter. Prima Neta">
                   <h:outputText value="#{commision.comInterPrimaNeta}" />
               </p:column>
               
               <p:column headerText="Rango Inferior">
                   <h:outputText value="#{commision.rangoInferior}" />
               </p:column>
               
               <p:column headerText="Rango Superior">
                   <h:outputText value="#{commision.rangoSuperior}" />
               </p:column>
               
               <p:column headerText="Editar">
	               <p:commandButton actionListener="#{commissionBean.UpdateCommissionPlan(commision.id)}" value="Editar" />
               </p:column>
               
	        </p:dataTable>
	        <br />
	        <h:panelGrid columns="1" style="float:right;">
				<p:commandButton id="btnNuevaComisionGP" widgetVar="btnNuevaComisionGP" actionListener="#{commissionBean.NewCommissionPlan}" value="Nueva Comisión"
				validateClient="false" update="gridCommissionPlans" />
			</h:panelGrid>
			<br /><br />
		</p:panel>
		
		<br /><br />
		
		<p:panel header="Matenedor de Tipos Base">
			<br />
			<p:dataTable id="gridBaseTypes" var="baseType" value="#{commissionBean.colBaseTypes}" emptyMessage="No se encontraron registros de tipos base." 
			style="width:100%;" paginator="true" rows="7">
               <p:column headerText="Id" visible="false">
                   <h:outputText id="btId" value="#{baseType.id}" />
               </p:column>
               
               <p:column headerText="Nombre Póliza">
                   <h:outputText value="#{baseType.nombrePoliza}" />
               </p:column>
               
               <p:column headerText="Nombre Interno">
                   <h:outputText value="#{baseType.nombreInterno}" />
               </p:column>
               
               <p:column headerText="Com. Inter.">
                   <h:outputText value="#{baseType.comIntermediacion}" />
               </p:column>
               
               <p:column headerText="Tasa Técnica">
                   <h:outputText value="#{baseType.tasaTecnica}" />
               </p:column>
               
               <p:column headerText="Editar">
	               <p:commandButton actionListener="#{commissionBean.UpdateBaseType(baseType.id)}" value="Editar" />
               </p:column>
               
	        </p:dataTable>
	        <br />
	        <h:panelGrid columns="1" style="float:right;">
				<p:commandButton id="btnNuevoBaseType" widgetVar="btnNuevoBaseType" actionListener="#{commissionBean.NewBaseType}" value="Nuevo Tipo Base"
				validateClient="false" update="gridBaseTypes" />
			</h:panelGrid>
			<br /><br />
		</p:panel>
		<br /><br />
		
    </ui:define>
</ui:composition>