<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml">

    <ui:define name="content">
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleBaseType" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="#{commissionBean.textoTituloEdicion}" />
            </h:panelGrid>
        </div>
        <div class="modal-content">
	        <div styleClass="form-horizontal">
				<div class="modal-body">
					<section>
						<div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Póliza</label>
									<p:inputText id="poliza" value="#{commissionBean.nombrePoliza}" required="true" 
									requiredMessage="Ingrese un nombre válido." maxlength="50" type="text" styleClass="form-control" />
									<p:message for="nomPoliza" style="color : red;padding-left : 8px" maxlength="10"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Nombre de Póliza</label>
									<p:inputText id="nomPoliza" value="#{commissionBean.poliza}" required="true" 
									requiredMessage="Ingrese un nombre válido." maxlength="50" type="text" styleClass="form-control" />
									<p:message for="nomPoliza" style="color : red;padding-left : 8px" maxlength="10"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Tipo</label>
									<p:inputText id="tipoPoliza" value="#{commissionBean.tipo}" required="true" 
									requiredMessage="Ingrese un tipo válido." maxlength="50" styleClass="form-control" />
									<p:message for="tipoPoliza" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Nombre Internp</label>
									<p:inputText id="nombreInterno" value="#{commissionBean.nombreInterno}" required="true" 
									requiredMessage="Ingrese un nombre interno válido." maxlength="50" styleClass="form-control" />
									<p:message for="nombreInterno" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Com. Intermediación</label>
									<p:inputText id="comIntermediacion" value="#{commissionBean.comIntermediacion}" required="true" 
									requiredMessage="Ingrese una comisión válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="comIntermediacion" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Tasa Técnica</label>
									<p:inputText id="tasaTecnica" value="#{commissionBean.tasaTecnica}" required="true" 
									requiredMessage="Ingrese una tasa técnica válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="tasaTecnica" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>¿Tipo Base Habilitado?</label>
									<p:selectOneRadio id="radioEnabled" value="#{commissionBean.baseEnabled}">
							            <f:selectItem itemLabel="Si" itemValue="true" />
							            <f:selectItem itemLabel="No" itemValue="false" />
						        	</p:selectOneRadio>
									<p:message for="radioEnabled" />
								</div>
							</div>
						</div>
					</section>
				</div>
		        <br />
		        <div class="col-sm-7">
		        <h:panelGrid columns="2" style="float:right;">
		        	<p:commandButton id="btnCancelar" widgetVar="btnCancelar" actionListener="#{commissionBean.CancelEditCommission}" value="Cancelar"
					validateClient="true" immediate="true" />
					<p:commandButton id="btnGuardarComision" widgetVar="btnGuardarComision" actionListener="#{commissionBean.SaveBaseType}" value="Guardar Tipo Base"
					validateClient="true" update="@all" ajax="true" />
				</h:panelGrid>
				</div>
				<br /><br />
			</div>
		</div>
    </ui:define>
</ui:composition>