<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml">

    <ui:define name="content">
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="#{commissionBean.textoTituloEdicion}" />
            </h:panelGrid>
        </div>
        <div class="modal-content">
	        <div styleClass="form-horizontal">
				<div class="modal-body">
					<section>
						<div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Tipo de Plan</label>
									<p:inputText id="rubro" value="#{commissionBean.tipoPlan}" required="true" 
									requiredMessage="Ingrese un tipo de plan válido." maxlength="10" type="text" styleClass="form-control" />
									<p:message for="rubro" style="color : red;padding-left : 8px" maxlength="10"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Prima Final Seguro Robo</label>
									<p:inputText id="comFijaAnticipada" value="#{commissionBean.primaFinalSeguroRobo}" required="true" 
									requiredMessage="Ingrese una prima final de seguro robo válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="comFijaAnticipada" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Com. Intermediación Prima Neta</label>
									<p:inputText id="comCorredora" value="#{commissionBean.comInterPrimaNeta}" required="true" 
									requiredMessage="Ingrese una comisión de intermediación de prima neta válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="comCorredora" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Rango Inferior</label>
									<p:inputText id="comRecCobranza" value="#{commissionBean.rangoInferior}" required="true" 
									requiredMessage="Ingrese un rango inferior válido." maxlength="10" type="number" styleClass="form-control" />
									<p:message for="comRecCobranza" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Rango Superior</label>
									<p:inputText id="primaNeta" value="#{commissionBean.rangoSuperior}"
									maxlength="10" type="number" styleClass="form-control" requiredMessage="Ingrese un rango superior válido." />
									<p:message for="primaNeta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>¿Comisión Habilitada?</label>
									<p:selectOneRadio id="radioEnabled" value="#{commissionBean.cpEnabled}">
							            <f:selectItem itemLabel="Si" itemValue="true" />
							            <f:selectItem itemLabel="No" itemValue="false" />
						        	</p:selectOneRadio>
									<p:message for="radioEnabled" />
								</div>
							</div>
						</div>
					</section>
				</div>
		        <br />
		        <div class="col-sm-7">
		        <h:panelGrid columns="2" style="float:right;">
		        	<p:commandButton id="btnCancelar" widgetVar="btnCancelar" actionListener="#{commissionBean.CancelEditCommission}" value="Cancelar"
					validateClient="true" immediate="true" />
					<p:commandButton id="btnGuardarComision" widgetVar="btnGuardarComision" actionListener="#{commissionBean.SaveCommissionPlan}" value="Guardar Comisión"
					validateClient="true" update="@all" ajax="true" />
				</h:panelGrid>
				</div>
				<br /><br />
			</div>
		</div>
    </ui:define>
</ui:composition>