<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml">

    <ui:define name="content">
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="#{commissionBean.textoTituloEdicion}" />
            </h:panelGrid>
        </div>
        <div class="modal-content">
	        <div styleClass="form-horizontal">
				<div class="modal-body">
					<section>
						<div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Compañía</label>
									<p:selectOneMenu id="ddlCompany" value="#{commissionBean.companyId}" style="width:100%" validatorMessage="Seleccione una compañía.">
										<p:ajax event="change" listener="#{commissionBean.ChangeCompany}" update="@all" />
										<f:selectItem itemLabel="Seleccione" itemValue="0" noSelectionOption="true" />
										<f:selectItems value="#{commissionBean.colCompanies}" var="company" itemLabel="#{company.name}" itemValue="#{company.id}" />
										<f:validator validatorId="ddlValidator"/>
									</p:selectOneMenu>
									<p:message for="ddlCompany" style="color : red;padding-left : 8px"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Empresa</label>
									<p:selectOneMenu id="ddlEnterprise" value="#{commissionBean.enterpriseId}" style="width:100%" validatorMessage="Seleccione una empresa.">
										<p:ajax event="change" listener="#{commissionBean.ChangeEnterprise}" update="@all" />
										<f:selectItem itemLabel="Seleccione" itemValue="0" />
										<f:selectItems value="#{commissionBean.colEnterprises}" var="enterprise" itemLabel="#{enterprise.name}" itemValue="#{enterprise.id}" />
									</p:selectOneMenu>
									<p:message for="ddlEnterprise" style="color : red;padding-left : 8px"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Código de Producto</label>
									<p:inputText id="codProducto" value="#{commissionBean.codProducto}" required="true" 
									requiredMessage="Ingrese un código de producto válido." maxlength="10" type="number" styleClass="form-control" />
									<h:message for="codProducto" style="color : red; padding-left : 8px"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Rubro</label>
									<p:inputText id="rubro" value="#{commissionBean.rubro}" required="true" 
									requiredMessage="Ingrese un rubro válido." maxlength="10" type="number" styleClass="form-control" />
									<p:message for="rubro" style="color : red;padding-left : 8px" maxlength="10"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Com. Fija Anticipada</label>
									<p:inputText id="comFijaAnticipada" value="#{commissionBean.comFijaAnticipada}" required="true" 
									requiredMessage="Ingrese una comisión fija anticipada válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="comFijaAnticipada" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Com. Int. (Corredora)</label>
									<p:inputText id="comCorredora" value="#{commissionBean.comCorredora}" required="true" 
									requiredMessage="Ingrese una comisión de corredora válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="comCorredora" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Com. Rec. Cobranza</label>
									<p:inputText id="comRecCobranza" value="#{commissionBean.comRecCobranza}" required="true" 
									requiredMessage="Ingrese una comisión de recaudación de cobranza válida." maxlength="20" type="number" styleClass="form-control" />
									<p:message for="comRecCobranza" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>Prima Neta</label>
									<p:inputText id="primaNeta" value="#{commissionBean.primaNeta}" requiredMessage="Ingrese una prima neta válida."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaNeta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>Prima Bruta</label>
									<p:inputText id="primaBruta" value="#{commissionBean.primaBruta}" requiredMessage="Ingrese una prima bruta válida."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaBruta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>% Exenta</label>
									<p:inputText id="porcExenta" value="#{commissionBean.porcExenta}" requiredMessage="Ingrese un porcentaje válido."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaNeta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>% Afecta</label>
									<p:inputText id="porcAfecta" value="#{commissionBean.porcAfecta}" requiredMessage="Ingrese un porcentaje válido."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaBruta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>% Neta</label>
									<p:inputText id="porcNeta" value="#{commissionBean.porcNeta}" requiredMessage="Ingrese un porcentaje válido."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaNeta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>% Iva</label>
									<p:inputText id="porcIva" value="#{commissionBean.porcIva}" requiredMessage="Ingrese un porcentaje válido."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaBruta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label>% Bruta</label>
									<p:inputText id="porcBruta" value="#{commissionBean.porcBruta}" requiredMessage="Ingrese un porcentaje válido."
									maxlength="20" type="number" styleClass="form-control" />
									<p:message for="primaNeta" style="color : red;padding-left : 8px" maxlength="20"/>
								</div>
							</div>
							<div class="form-group pull-in clearfix">
								<div class="col-sm-3">
									<label>¿Comisión Habilitada?</label>
									<p:selectOneRadio id="radioEnabled" value="#{commissionBean.comEnabled}">
							            <f:selectItem itemLabel="Si" itemValue="true" />
							            <f:selectItem itemLabel="No" itemValue="false" />
						        	</p:selectOneRadio>
									<p:message for="radioEnabled" />
								</div>
							</div>
						</div>
					</section>
				</div>
		        <br />
		        <div class="col-sm-7">
		        <h:panelGrid columns="2" style="float:right;">
		        	<p:commandButton id="btnCancelar" widgetVar="btnCancelar" actionListener="#{commissionBean.CancelEditCommission}" value="Cancelar"
					validateClient="true" immediate="true" />
					<p:commandButton id="btnGuardarComision" widgetVar="btnGuardarComision" actionListener="#{commissionBean.SaveCommission}" value="Guardar Comisión"
					validateClient="true" update="@all" ajax="true" />
				</h:panelGrid>
				</div>
				<br /><br />
			</div>
		</div>
    </ui:define>
</ui:composition>