<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">

    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
    	<script type="text/javascript">
	    	function startLoadingCargaInd() {
			    PF('statusDialog').show();
			}
			function stopLoadingCargaInd() {
			    PF('statusDialog').hide();
			    $('#divDownloadReport').hide();
			}
		</script>
    	
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Garantía Plus" />
                <p:outputLabel style="font-size:18pt; float:right;" value="Periodo: #{warrantyBean.strMonth} / #{warrantyBean.year}" />
            </h:panelGrid>
	     </div>
	     <div>
	        <p:panel header="Carga de Archivos">
	        	<h:panelGrid columns="10" cellpadding="5">
					<p:outputLabel value="Fecha Inicio: " />
					<p:calendar value="#{warrantyBean.fecInicio}" />
					<p:outputLabel value="Fecha Fin: " />
					<p:calendar value="#{warrantyBean.fecFin}" />
					<p:outputLabel value="" />
					<p:outputLabel value="Tipo Archivo: " />
					<p:selectOneMenu id="ddlTipoArchivo" value="#{warrantyBean.tipoArchivo}">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{warrantyBean.fileTypesGP}" var="ftItem" itemValue="#{ftItem.type}" itemLabel="#{ftItem.type}"/>
					</p:selectOneMenu>
				</h:panelGrid>
				<p:commandButton id="btnShowDialogGPlusFile" value="Generar CSV Semanal" onclick="statusDialog.show();" oncomplete="statusDialog.hide();" actionListener="#{warrantyBean.HandleGenerateCSVButton}" style="float:left;" ajax="true" />
				<div id="divDownloadReport" style="display:none; float:left;">
					<p:commandButton id="btnGenerateGPlusFile" widgetVar="btnGenerateGPlusFile" value="Descargar" onclick="PrimeFaces.monitorDownload(startLoadingCargaInd, stopLoadingCargaInd);"
					style="float:right;" icon="ui-icon-arrowthick-1-s" ajax="false">
			  			<p:fileDownload value="#{warrantyBean.csvFile}" />
			  		</p:commandButton>
	  		 	</div>
				<br />
				<div>
					<h:form enctype="multipart/form-data">
						<h:panelGrid columns="2" cellpadding="10" style="float:right;">
							<p:fileUpload value="#{warrantyBean.file}" fileUploadListener="#{warrantyBean.HandleFileUpload}" mode="advanced" 
							label="Seleccione" allowTypes="/(\.|\/)(txt|csv|TXT|CSV|Txt|Csv)$/" sizeLimit="52428800" auto="true" />
							<p:commandButton value="Iniciar Carga" onclick="statusDialog.show();" actionListener="#{warrantyBean.Upload}" ajax="true" update=":mainForm:btnClosePeriod :mainForm:dataTable :mainForm:btnRollbackPeriod" />
						</h:panelGrid>
					</h:form>
				</div>
				<br /><br /><br /><br />
				<div id="dialogConfirmRecarga" class="modalback">
					<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
						<p>Ya existe un archivo cargado previamente, ¿Desea sobreescribir los datos?.</p>
						<div style="width:120px; height: 30px;">
		  					<p:commandButton value="Sí" onclick="statusDialog.show();" actionListener="#{warrantyBean.AcceptReload}" style="float:left;" ajax="true" update="btnClosePeriod dataTable btnRollbackPeriod" />
		  					<p:commandButton value="No" onclick="$('#dialogConfirmRecarga').hide();" style="float:right;" ajax="true" />
	  					</div>
					</p:panel>
				</div>
			</p:panel>
			<br />
			<br />
			<br />
			<p:panel header="Cierre">
				<br />
				<p:dataTable id="dataTable" var="binnacle" value="#{warrantyBean.binnacles}" paginator="false" emptyMessage="No se encontraron archivos" style="width:45%;">
		
			        <p:column sortBy="type" headerText="Tipo de Archivo" >
						<h:outputText value="#{binnacle.fileType.type}" />
			        </p:column>
			        <p:column sortBy="date" headerText="Fecha">
			            <h:outputText value="#{binnacle.binDate}" />
			        </p:column>
			        <p:column sortBy="user" headerText="Usuario">
			            <h:outputText value="#{binnacle.user.firstname} " />
			        </p:column>
			        <p:column headerText="Nombre Archivo">
	                    <h:outputText value="#{binnacle.details2}" />
	                </p:column>

		    	</p:dataTable>
		    	<br /><br />
				<h:panelGrid columns="2">
					<p:commandButton id="btnClosePeriod" widgetVar="btnClosePeriod" value="Cerrar Periodo" onclick="$('#dialogConfirmCierre').show();" disabled="#{not warrantyBean.canClosePeriod}" />
					<p:commandButton id="btnRollbackPeriod" widgetVar="btnRollbackPeriod" value="Rollback Periodo" onclick="$('#dialogConfirmRollback').show();" disabled="#{not warrantyBean.canRollbackPeriod}" update="btnClosePeriod btnRollbackPeriod" />
				</h:panelGrid>
			</p:panel>
			<div id="dialogConfirmCierre" class="modalback">
				<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
					<p>Al cerrar el mes, no se podrán volver a cargar datos para el mes cerrado. ¿Desea continuar?.</p>
					<div style="width:120px; height: 30px;">
	  					<p:commandButton value="Sí" actionListener="#{warrantyBean.CloseMonth}" style="float:left;" ajax="true" update="titleWarranty btnClosePeriod btnRollbackPeriod dataTable" />
	  					<p:commandButton value="No" onclick="$('#dialogConfirmCierre').hide();" style="float:right;" ajax="true" />
  					</div>
				</p:panel>
			</div>
			<div id="dialogConfirmRollback" class="modalback">
				<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
					<p>Esta a punto de deshacer el último cierre. ¿Desea continuar?.</p>
					<div style="width:120px; height: 30px;">
	  					<p:commandButton value="Sí" actionListener="#{warrantyBean.RollBackClosePeriod}" style="float:left;" ajax="true" update="titleWarranty dataTable btnClosePeriod btnRollbackPeriod" />
	  					<p:commandButton value="No" onclick="$('#dialogConfirmRollback').hide();" style="float:right;" ajax="true" />
  					</div>
				</p:panel>
			</div>
		</div>
    </ui:define>
</ui:composition>