<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml">

    <ui:define name="content">
    	<p:messages autoUpdate="false" id="msgs" showDetail="true" showSummary="true" />
    	<div class="bg-dark dk header navbar">
	        <h:panelGrid id="titleWarranty" columns="2" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Validación de Garantía Plus" />
                <p:outputLabel style="font-size:18pt; float:right;" value="Periodo: #{valWarrantyBean.strMonth} / #{valWarrantyBean.year}" visible="#{valWarrantyBean.month > 0}" />
            </h:panelGrid>
        </div>
	        
        <p:panel header="Información de Robos">
			<br />
			<p:dataTable id="gridRobos" var="warranty" value="#{valWarrantyBean.colWarrantyRobosErrors}" emptyMessage="No se encontraron registros inválidos para el periodo." 
			style="width:100%;" paginator="true" rows="10">
               <p:column headerText="Id" visible="false">
                   <h:outputText id="warrantyId" value="#{warranty.id}" />
               </p:column>
               
               <p:column headerText="Folio">
                   <h:outputText value="#{warranty.folio}" />
               </p:column>
               
               <p:column headerText="Correlativo">
                   <h:outputText value="#{warranty.correlativo}" />
               </p:column>
               
               <p:column headerText="Precio Venta">
               	   <p:inputText id="txtPrecioVenta" value="#{warranty.precioVenta}" requiredMessage="*" required="true" validatorMessage="Ingrese un monto entre $1.000 y $5.000.000">
               	   	<f:validateDoubleRange minimum="1000" maximum="5000000" />
               	   </p:inputText>
               	   <h:message for="txtPrecioVenta" style="color : red; padding-left : 8px"/>
               </p:column>
               
               <p:column headerText="Glosa"> 
                   <p:inputText id="txtGlosa" value="#{warranty.glosaArticulo}" requiredMessage="*" required="true" >
                   	<f:validator validatorId="glosaRoboValidator"/>
                   </p:inputText>
                   <h:message for="txtGlosa" style="color : red; padding-left : 8px"/>
               </p:column>
               
               <p:column headerText="Tipo">
               		<p:selectOneRadio id="radioEnabled" value="#{warranty.fileType.id}">
               			<p:ajax event="change" listener="#{valWarrantyBean.ChangeWarrantyType}" update=":mainForm:gridRobos :mainForm:gridCelulares" />
			            <f:selectItem itemLabel="Robo" itemValue="#{warranty.id * -1}" />
			            <f:selectItem itemLabel="Celular" itemValue="#{warranty.id}" />
			        </p:selectOneRadio>
			   </p:column>
	        </p:dataTable>
			<br /><br />
		</p:panel>
		
		<br /><br />
		
		<p:panel header="Información de Celulares">
			<br />
			<p:dataTable id="gridCelulares" var="warranty" value="#{valWarrantyBean.colWarrantyCellErrors}" emptyMessage="No se encontraron registros inválidos para el periodo." 
			style="width:100%;" paginator="true" rows="10">
               <p:column headerText="Id" visible="false">
                   <h:outputText id="warrantyId" value="#{warranty.id}" />
               </p:column>
               
               <p:column headerText="Folio">
                   <h:outputText value="#{warranty.folio}" />
               </p:column>
               
               <p:column headerText="Correlativo">
                   <h:outputText value="#{warranty.correlativo}" />
               </p:column>
               
               <p:column headerText="Precio Venta">
               	   <p:inputText id="txtPrecioVenta" value="#{warranty.precioVenta}" requiredMessage="Ingrese un precio de venta válido." required="true" validatorMessage="Ingrese un monto entre $1.000 y $2.000.000">
               	   	<f:validateDoubleRange minimum="1000" maximum="2000000" />
               	   </p:inputText>
               	   <h:message for="txtPrecioVenta" style="color : red; padding-left : 8px"/>
               </p:column>
               
               <p:column headerText="Glosa">
                   <p:inputText id="txtGlosa" value="#{warranty.glosaArticulo}" requiredMessage="Ingrese una glosa válida." required="true" >
                   	<f:validator validatorId="glosaCelularValidator"/>
                   </p:inputText>
                   <h:message for="txtGlosa" style="color : red; padding-left : 8px"/>
               </p:column>
               
               <p:column headerText="Tipo">
               		<p:selectOneRadio id="radioEnabled" value="#{warranty.fileType.id}">
               			<p:ajax event="change" listener="#{valWarrantyBean.ChangeWarrantyType}" update=":mainForm:gridRobos :mainForm:gridCelulares" />
			            <f:selectItem itemLabel="Robo" itemValue="#{warranty.id * -1}" />
			            <f:selectItem itemLabel="Celular" itemValue="#{warranty.id}" />
			        </p:selectOneRadio>
			   </p:column>
	        </p:dataTable>
			<br /><br />
		</p:panel>
		<br /><br />
		<h:panelGrid columns="2" style="float:right;">
			<p:commandButton id="btnSave" widgetVar="btnSave" actionListener="#{valWarrantyBean.SaveInformation}" value="Guardar Correcciones"
			validateClient="true" update="gridRobos gridCelulares" disabled="#{valWarrantyBean.month le 0  or ((not valWarrantyBean.existenRobos) and (not valWarrantyBean.existenCelulares))}" />
			<p:commandButton id="btnValidate" widgetVar="btnValidate" actionListener="#{valWarrantyBean.GetWarrantyErrors}" value="Validar Garantías Plus"
			update="gridRobos gridCelulares btnSave msgs" immediate="true" disabled="#{valWarrantyBean.month le 0}" />
		</h:panelGrid>
    </ui:define>
</ui:composition>