<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">
    
    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
    	<script type="text/javascript">
	    	function startLoadingCierreInd() {
			    PF('statusDialog').show();
			}
			function stopLoadingCierreInd() {
			    PF('statusDialog').hide();
			    $('#divDownloadReport').hide();
			}
		</script>
		
    	<div class="bg-dark dk header navbar">
    		<h:panelGrid id="titleMassive" columns="1" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Reporte de Cierre Seguros Masivos" />
            </h:panelGrid>
	        
	         <p:panel header="Reporte">
	        	<h:panelGrid columns="6" cellpadding="20">
	        	  <security:authorize ifAllGranted="ROLE_USUARIO_GENERAL">
	        	  </security:authorize>
	        	   <security:authorize ifAllGranted="ROLE_ADMIN_GENERAL">
	        	  </security:authorize>
	        	   <security:authorize ifAllGranted="ROLE_INVITADO">
	        	  </security:authorize>
     				<p:outputLabel value="Año: " />
					<p:selectOneMenu id="ddlYear" value="#{massiveReportBean.year}">
						<f:selectItem itemLabel="Seleccione" itemValue="0" />
						<f:selectItems value="#{massiveReportBean.colYears.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}" />
					</p:selectOneMenu>
   				
					<p:outputLabel value="Mes: " />
					<p:selectOneMenu id="ddlMonth" value="#{massiveReportBean.month}">
						<f:selectItem itemLabel="Seleccione" itemValue="0" />
						<f:selectItems value="#{massiveReportBean.colMonths.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}"  />
					</p:selectOneMenu>		
				</h:panelGrid>
				
			    <div style="width:100%;height:30px;">
					<p:commandButton id="btnShowDialogReport" value="Generar Reporte" onclick="statusDialog.show();" oncomplete="statusDialog.hide();" actionListener="#{massiveReportBean.HandleGenerateReportButton}" style="float:right;" ajax="true" />
					<div id="divDownloadReport" style="display:none;">
						<p:commandButton id="btnDownloadReport" widgetVar="btnDownloadReport" value="Descargar Reporte" onclick="PrimeFaces.monitorDownload(startLoadingCierreInd, stopLoadingCierreInd);" style="float:right;" icon="ui-icon-arrowthick-1-s" ajax="false">
  							<p:fileDownload value="#{massiveReportBean.file}" /> 
	  					</p:commandButton>
  					</div>
				</div>
			</p:panel>
        </div>
    </ui:define>
</ui:composition>