<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    template="../../WEB-INF/templates/default.xhtml"
    xmlns:security="http://www.springframework.org/security/tags" 
    xmlns:spring="http://www.springframework.org/tags">
    
    <ui:define name="content">
    	<p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
    	<script type="text/javascript">
	    	function startLoadingCierreInd() {
			    PF('statusDialog').show();
			}
			function stopLoadingCierreInd() {
			    PF('statusDialog').hide();
			    $('#divDownloadReport').hide();
			}
		</script>
		
    	<div class="bg-dark dk header navbar">
    		<h:panelGrid id="titleMassive" columns="1" cellpadding="3" width="100%">
                <p:outputLabel style="font-size:18pt;" value="Reporte de Cierre Seguros Individuales" />
            </h:panelGrid>
	        
	        <p:panel header="Reporte">
	        	<h:panelGrid columns="6" cellpadding="20">
					<p:outputLabel value="Año: " />
					<p:selectOneMenu id="ddlYear" value="#{individualReportBean.year}">
						<f:selectItem itemLabel="Seleccione" itemValue="0" />
						<f:selectItems value="#{individualReportBean.colYears.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}" />
					</p:selectOneMenu>
					<p:outputLabel value="Mes: " />
					<p:selectOneMenu id="ddlMonth" value="#{individualReportBean.month}">
						<f:selectItem itemLabel="Seleccione" itemValue="0" />
						<f:selectItems value="#{individualReportBean.colMonths.entrySet()}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}" />
					</p:selectOneMenu>
					<p:outputLabel value="Compañia: " />
					<p:selectOneMenu id="ddlCompany" value="#{individualReportBean.companyId}">
						<f:selectItem itemLabel="Seleccione" itemValue="0" />
						<f:selectItems value="#{individualReportBean.colCompanies}" var="company" itemLabel="#{company.name}" itemValue="#{company.id}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<div style="width:100%;height:30px;">
					<p:commandButton id="btnShowDialogReport" value="Generar Reporte" onclick="statusDialog.show();" oncomplete="statusDialog.hide();" actionListener="#{individualReportBean.HandleGenerateReportButton}" style="float:right;" ajax="true" />
					<div id="divDownloadReport" style="display:none;">
						<p:commandButton id="btnDownloadReport" widgetVar="btnDownloadReport" value="Descargar Reporte" onclick="PrimeFaces.monitorDownload(startLoadingCierreInd, stopLoadingCierreInd);"
						 style="float:right;" icon="ui-icon-arrowthick-1-s" ajax="false">
	  						<p:fileDownload value="#{individualReportBean.file}" />
	  					</p:commandButton>
  					</div>
				</div>
				<div id="dialogConfirmReport" class="modalback">
					<p:panel header="Confirmación" styleClass="modal-dialog" style="padding: 0; top:300px;">
						<h:panelGrid columns="3" cellpadding="20">
							<p:outputLabel value="Ingrese valor U.F. para el reporte:" />
							<p:inputText id="inputUFValue" value="#{individualReportBean.UFValue}" maxlength="12"></p:inputText>
							<p:outputLabel id="UFMessageErrorLabel" value="#{individualReportBean.UFMessage}" style="color:Red;" />
						</h:panelGrid>
						<div style="width:220px; height: 30px;">
		  					<p:commandButton id="btnGenerateReport" value="Generar" onclick="statusDialog.show();" oncomplete="statusDialog.hide();" actionListener="#{individualReportBean.GenerateReport}" update="UFMessageErrorLabel inputUFValue btnDownloadReport" 
		  					style="float:left;" ajax="true" />
		  					<p:commandButton value="Cancelar" actionListener="#{individualReportBean.CloseDialogReport}" style="float:right;" update="UFMessageErrorLabel inputUFValue" ajax="true" />
	  					</div>
					</p:panel>
				</div>
			</p:panel>
        </div>
    </ui:define>
</ui:composition>