<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templates/blank.xhtml">
<ui:define name="contentTemplate">
	<c:if test="${param.login_error == 't'}">
		<div class="panel-heading text-center" style="color:White; font-size:12pt;">
			Nombre de usuario o contraseña incorrecto.
		</div>
	</c:if>
	<section class="panel panel-default bg-white m-t-lg">
		<header class="panel-heading text-center"> <strong>Credenciales de Acceso</strong> </header>
		<form name='f' action="#{request.contextPath}/j_spring_security_check" method="post" class="panel-body wrapper-lg">
			<div class="form-group">
				<label class="control-label">E-mail</label>
				<input type="email" name='j_username' placeholder="su@correo.com" class="form-control input-lg" />
			</div>
			<div class="form-group">
				<label class="control-label">Contraseña</label>
				<input type="password" name='j_password' id="inputPassword" placeholder="contraseña" class="form-control input-lg" />
			</div>
			<button type="submit" name='submit' class="btn btn-primary">Ingresar</button>
			<div class="line line-dashed"></div>
		</form>
	</section>
<!-- footer -->
</ui:define>
</ui:composition>
</html>