<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templates/blank.xhtml">
	<ui:define name="contentTemplate">
		<f:metadata>
			<f:event type="preRenderView" listener="#{userBean.reset}" />
		</f:metadata>
		<section class="panel panel-default m-t-lg bg-white">
			<header class="panel-heading text-center">
				<strong>Formulario de registro</strong>
			</header>
			<h:form styleClass="panel-body wrapper-lg">
				<div class="form-group">
					<label class="control-label">Nombre</label>
					<p:inputText id="userFirstname" styleClass="form-control input-lg"
						required="true" label="firstname" size="40"
						placeholder="Su nombre"
						requiredMessage="Por favor ingrese nombre."
						value="#{userBean.user.firstname}">
					</p:inputText>
					<p:message for="userFirstname" />
				</div>
				<div class="form-group">
					<label class="control-label">Apellido</label>
					<p:inputText id="userLastname" styleClass="form-control input-lg"
						required="true" label="lastname" size="40"
						placeholder="Su apellido"
						requiredMessage="Por favor ingrese apellido."
						value="#{userBean.user.lastname}">
					</p:inputText>
					<p:message for="userLastname" />
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<p:inputText id="userEmail" styleClass="form-control input-lg"
						required="true" label="email" size="40"
						placeholder="su@correo.com"
						requiredMessage="Por favor ingrese e-mail."
						validatorMessage="Formato de e-mail invalido."
						value="#{userBean.user.email}">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<p:message for="userEmail" />
				</div>
				<div class="form-group">
					<label class="control-label">Contraseña</label>
					<p:inputText type="password" id="userPassword"
						styleClass="form-control input-lg" required="true"
						placeholder="Contraseña"
						requiredMessage="Por favor ingrese su contraseña."
						value="#{userBean.user.password}">
					</p:inputText>
					<p:message for="userPassword" />
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" /> Acepto los <a href="#">Términos
							y condiciones</a>
					</label>
				</div>
				<h:commandButton action="#{userBean.save}" value="Registrar"
					styleClass="btn btn-primary">
					<f:ajax execute="@form" render="@form" onevent="function(data) { }" />
				</h:commandButton>
				<div class="line line-dashed"></div>
				<p class="text-muted text-center">
					<small>¿Ya posee una cuenta?</small>
				</p>
				<a href="#{request.contextPath}/login.jsf"
					class="btn btn-default btn-block">Ingresar</a>
			</h:form>
		</section>
	</ui:define>
</ui:composition>
</html>